/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 13, 2018, 9:33:59 PM
    Author     : kennethmaguire
*/

#FormHead{
    display: block;
    margin-left: .5em;
    font-size: 100%;
    
}
.FormElement{
    padding-top: .5em;
    margin-left: .5em;
}