/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 13, 2018, 9:33:59 PM
    Author     : kennethmaguire
*/

#FormHead{
    color: #3578cd;    /*hex color teal*/
    display: block;
    margin-left: 10px;
    font-size: 200%;
    font-family: Calibri;
}

.notVisible{
    Display: none;
    
}
.visible{ 
    font-weight: bold;
    margin-left: 10px;
    Display: block;
    color: #e91b07;
}
.errorspan{
    display: none;
}
.SignupForm{
   border-collapse: separate; 
   border-spacing: 1px;
   
}

.FormElement{
    font-family: Calibri;
    padding-top: .5em;
    margin-left: .5em;
    
}
.FormInput{
   font-family: Calibri;
   margin: 10px;
}